<html>
	<head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        </head>
    <body>
        <h1>Delete Category</h1>

        <form action={{ url_for('deleteCategory', category_name = category_name)}} method = 'post'>

            <p>Would you like to delete {{category_name}}?</p>
            <input type='submit' value='Delete'>
            <a href={{url_for('categories')}}>Cancel</a>

        </form>

	<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>

        <script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>

    </body>
</html>
