<html>
	<head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        </head>
    <body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('categories')}}">Catalog!</a>
        <a class="btn btn-default navbar-btn" href={{url_for('newCategory')}}>Create a new category!</a>
<a class=" btn btn-default navbar-btn" href={{url_for('newCategoryItem')}}>Create a new item!</a>
        </div>
        </div>
        </nav>
	    <div class='container-fluid'>
        <h1>Delete Category</h1>

        <form action={{ url_for('deleteCategory', category_name = category_name)}} method = 'post'>

            <p>Would you like to delete {{category_name}}?</p>
            <input class='btn btn-warning' type='submit' value='Delete'>
            <a class='btn btn-danger' href={{url_for('categories')}}>Cancel</a>

        </form>
</div>

	<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>

        <script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>

    </body>
</html>
