{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}

<div class="container-fluid">
	<h1>New Item</h1>

	<form action={{ url_for('newCategoryItem', category_name = category_name)}} method = 'post'>
<div class="row">
<div class="col-md-3">
	<p>Name:</p>
	<input type ='text' size='30' name='name' class="form-control">
</div>
<div class="col-md-3">
	<p>Select a Category:</p>
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
</div>
<div class="col-md-6">
</div>
</div>
<br>
	<input type='submit' value='Create' class="btn btn-primary">
	<a class="btn btn-danger" href={{url_for('categories')}}>Cancel</a>
	</form>
</div>

{% endblock %}
