{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container-fluid">
   <div class="container">
      <div class="col-md-4">
         <h2>Categories</h2>
         <ul class="list-unstyled">
            {% for i in categories%}
            <li><a class='btn btn-default buttonz' href={{url_for('categoryItems',category_name = i.name)}}>{{i.name}}</a></li>
            {%if 'username' in session %}
            <a href={{url_for('editCategory',category_name = i.name)}}>Edit</a>
            <a href={{url_for('deleteCategory',category_name = i.name)}}>Delete</a>
            {% endif %}
            {% endfor %}
         </ul>
      </div>
      <div class="col-md-4">
         <h2>{{ category.name }}</h2>
         <ul class="list-unstyled">
            {% for i in items %}
            <li><a class="btn btn-default buttonz" href={{url_for('singleItem', category_name = category.name, item_id = i.id)}}>{{i.name}}</a></li>
            {%if 'username' in session %}
            <a href={{url_for('editCategoryItem', category_name = category.name, item_id = i.id)}}>Edit</a>
            <a href={{url_for('deleteCategoryItem', category_name = category.name, item_id = i.id)}}>Delete</a>
            {% endif %}
            {% endfor %}
         </ul>
      </div>
      <div class="col-md-4">
         <h2>{{i.name}}</h2>
         <p>{{i.description}}</p>
      </div>
   </div>
</div>
{% endblock %}
